$color-white: #ffffff;
$color-black: #000000;
$color-tw: #0aaee4;
$color-footer: #242b2d;


$font-size-4px: 0.142857142857143em;
$font-size-6px: 0.214285714285714em;
$font-size-8px: 0.285714285714286em;
$font-size-10px: 0.357142857142857em;
$font-size-12px: 0.428571428571429em;
$font-size-14px: 0.5em;
$font-size-16px: 0.571428571428571em;
$font-size-18px: 0.642857142857143em;
$font-size-20px: 0.714285714285714em;
$font-size-22px: 0.785714285714286em;
$font-size-24px: 0.857142857142857em;
$font-size-26px: 0.928571428571429em;
$font-size-30px: 1.071428571428571em;
$font-size-32px: 1.142857142857143em;
$font-size-34px: 1.214285714285714em;
$font-size-36px: 1.285714285714286em;
$font-size-38px: 1.357142857142857em;
$font-size-40px: 1.428571428571429em;
$font-size-42px: 1.5em;
$font-size-44px: 1.571428571428571em;
$font-size-46px: 1.642857142857143em;
$font-size-48px: 1.714285714285714em;
$font-size-50px: 1.785714285714286em;
$font-size-52px: 1.857142857142857em;
$font-size-54px: 1.928571428571429em;
$font-size-56px: 2em;
$font-size-58px: 2.071428571428571em;
$font-size-60px: 2.142857142857143em;
$font-size-62px: 2.214285714285714em;
$font-size-64px: 2.285714285714286em;
$font-size-66px: 2.357142857142857em;
$font-size-68px: 2.428571428571429em;
$font-size-70px: 2.5em;
$font-size-72px: 2.571428571428571em;
$font-size-74px: 2.642857142857143em;
$font-size-76px: 2.714285714285714em;
$font-size-78px: 2.785714285714286em;
$font-size-80px: 2.857142857142857em;
$font-size-94px: 3.357142857142857em;
$font-size-96px: 3.428571428571429em;


$width-500px: 17.857142857142857em;
$width-450px: 16.071428571428571em;
$width-800px: 28.571428571428571em;
