@import "params/variables";
@import "params/mixins";
.header , .header .wrap {
	display: flex;
	flex-direction: row;
}
.header-wrapper {
	width: 100%;
	max-width: 240rem;
	top: 0;
	position: absolute;
	z-index: 2;
	& .header {
		color: $color-white;
		justify-content: space-between;
		padding: $font-size-26px 0;
		& .icon, .btn {
		}
		& .btn {
			margin-left: $font-size-30px;
			padding-left: 1.714285714285714em;
			padding-right: 1.714285714285714em;
		}
		& .icon {
			margin-top: 0.5em;

		}
		& .name {
			font-size: $font-size-50px;
			font-family: 'Archivo Black', sans-serif;
			letter-spacing: 0.2em;
			margin: 0;
			text-transform: uppercase;
			& a {
				color: $color-white;
			}
		}
		& .logo {
			padding-top: $font-size-24px;
		}
	}
}