@import "params/variables";
@import "params/mixins";
.header-slider {
	position: relative;
	& .slide {
		position: relative;
	}
	& .overlay-slide {
		background: transparentize($color-black, .7);
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
	}
	@import "header-slide-bottom";
}
.header-slider {
	color: $color-white;
}